section {
    padding-top: 4rem;
}

body {
    font-family: 'Overpass', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.carousel-cell {
    width: 100%; /* full width */
    margin-right: 10px;
}
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

/*------- NEED FROM BOOTSTRAP -------*/
/* .text-primary */
.has-text-blue {
    color: #3273dc!important;
}

/* p */
.mb-1rem {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* .display-6 */
.has-size-6rem {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.mb-3rem{
    margin-bottom: 3rem!important;
}