html {
  font-size: 15px;
}

// Estilos: bloque bienvenidos
.bienvenidos {
  background-image: url("../images/fondo-bienvenidos.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.encabezado .fixed-top {
  background: rgba(0, 0, 0, 0.60);
}

.navbar-brand {
  padding-top: 1rem;
  padding-bottom: 1.3rem;
}

.navbar-light .navbar-brand {
  color: rgb(253, 253, 253);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-toggler {
  font-size: 1.6rem!important;
  color: #fff!important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: .7rem;
  text-transform: uppercase;
  transition: all .3s ease;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
  background: #f05f40;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
  background: #f05f40;
}

#menuPrincipal {
  clear: both;
}

.texto-bienvenido {
  color: #fff;
  margin-top: 9rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
  transition: all .5s ease;
}

.btn-primary:hover {
  background-color: rgb(240, 115, 87);
  border-color: #F05F40;
}

// Estilos bloque: quienes somos
.quienes-somos {
  background: #F05F40;
  color: #fff;
}

// Estilos bloque: servicios
.servicios .fa-custom {
  color: #F05F40;
  font-size: 6rem;
}

.servicios h3 {
  font-weight: bold;
}

// Estilos bloque: ultimos proyectos
.ultimos-proyectos {
  background: #424141;
  color: #fff;
}

.ultimos-proyectos a {
  display: block;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.ultimos-proyectos img {
  transition: all .3s ease;
  min-width: 100%;
}

.ultimos-proyectos a:hover img {
  transform: scale(1.5);
}

// Estilos bloque: pie de pagina
.footer {
  color: #fff;
  background: #222;
}

// Empiezan los medias queries
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  #menuPrincipal {
    clear: inherit;
  }

  .bienvenidos {
    background: url("../images/fondo-bienvenido-grande.jpg");
    background-size: cover;
  }
}